.sidebar {
    width: 250px;
    height: calc(100vh - 85px);
    background: rgb(208,90,200);
    background: linear-gradient(180deg, rgba(208,90,200,1) 0%, rgba(208,90,200,1) 0%, rgba(176,93,232,1) 100%); 
    /* background-color: var(--main-color); */
    position: absolute ;
    top: 80px;
    left: -100%;
    transition: 850ms;
    border-radius: 10px;
    color: var(--text-color);
}

.title-sidebar{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

.side-active {
    left: 5px;
    transition: 250ms;
}

.sidebar ul {
    list-style: none;
}

.sidebar li{
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    padding: 10px 20px;
    margin: 15px 0;
    transition: 100ms;
}
.sidebar li:hover{
    background-color: var(--secondary-color);
}

.sidebar-selected {
    background-color: var(--secondary-color);
}